.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Roboto';
    position: relative;
    background-color: white;
}
.wrapper_header {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    width: 100%;
    min-height: 50px;
    padding: 5px;
    font-family: 'Roboto';
    position: sticky;
    background-color: rgba(0, 0, 0, 0.541);
    top: 0;
    z-index: 1;
    left: 0;
}
.wrapper > footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: none;
    padding: 10px;
    font-family: 'Roboto';
    height: 50px;
    max-width: 1300px;
}
.wrapper_main {
    display: flex;
    font-family: 'Roboto';
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: none;
    width: 100%;
    padding-top: 10px;
    max-width: 1300px;
    min-height: calc(100vh - 50px);
}