
.cart_tab {
    display: flex;
    color: white;
    margin-right: 12px;
    width: fit-content;
    font-size: 12px;
    position: relative;
    align-items: baseline;
}
.cart_tab > p {
    color: white;
    font-size: 10px;
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 5px;
}