.checkout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#stepper {
    width: 100%;
}
@media screen and (max-width: 450px) {
    /* Stepper */
    #stepper {
        padding: 20px 0 20px 10px;
    }
    #stepper_content {
        padding: 10px;
    }
    }
    
    #stepper h1 {
        margin: 0;
        padding: 0;
        color: inherit;
        font-family: 'Roboto';
        font-weight: 700;
        text-transform: capitalize;
        font-size: 13px;
    }
