.customer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

@media screen and (max-width: 450px) {
    .customer{
        padding: 20px 10px;
    }
}