.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 4px;
    font-family: 'Roboto';
    cursor: pointer;
    border: 2px solid white;
}
.logo_loading{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.logo a {
    margin: 0;
    color: rgb(12, 38, 59);
    padding: 0;
    font-weight: 900;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Roboto';
}
.logo > a:hover {
    text-decoration: none;
}