/* .nav {
    background-color: var(--bColor);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    padding: 2px 7px;
    width: 100%;
    z-index: 1;
    max-width: 550px;
    position: fixed;
    transition: 0.4s;
    transform: translateX(80%);
    top: 5px;
    justify-content: space-between;
    right: 0;
}
.nav_logo {
    position: fixed;
    left: 10px;
    top: 10px;
}
.nav_home {
    display: flex;
    align-items: center;
}
.nav_home > span {
    margin-right: 10px;
}
.nav_user {
    margin: 0 5px;
}
.nav:hover {
    transform: translateX(6px);
    transition: 0.4s;
}
.nav_search {
    flex: 1 1;
    transition: 0.4s;
    transform: translateX(120%);
}
.nav:hover .nav_search{
    transform: translateX(0%);
    transition: 0.5s;
}

@media screen and (max-width: 500px) {
    .nav:hover {
        transform: translateX(0%);
    }
    .nav {
        padding: 2px 5px;
    }
    .nav_home > span {
        margin-right: 5px;
    }
} */

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    color: inherit;
    max-width: 1300px;
    // top: 5px;
    // left: 0;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;
    }
    .nav_login {
        margin: 0 10px;
    }
}

.nav_cart {
    flex: 1 1;
    width: fit-content;
    display: flex;
    align-items: center;
}
