.search_tab{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px 20px 20px 5px ;
}
.search_tab > input {
    flex: 1 1;
    border: none;
    outline: none;
    font-family: 'Roboto';
    font-size: 13px;
    color: grey;
    padding: 12px 10px;
    position: relative;
    border-radius: 5px 20px 20px 5px ;
}
.search_tab_icon {
    position: absolute;
    right: 0;
    top: 50%;
    margin: 0 10px;
    background-color: white;
    transform: translateY(-50%);
}