.search_tab{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 250px;
    border-radius: 5px 20px 20px 5px ;
}
.search_tab > input {
    flex: 1 1;
    border: none;
    outline: none;
    font-family: 'Roboto mono';
    font-size: 12px;
    color: inherit;
    padding: 12px 10px;
    background-color: inherit;
    position: relative;
    border-radius: 5px 20px 20px 5px ;
}
.search_tab_icon {
    position: absolute;
    right: 0;
    top: 50%;
    margin: 0 10px;
    background-color: inherit;
    transform: translateY(-50%);
}

@media screen and (max-width : 450px) {
    .search_tab{
        width: fit-content;
        max-width: 120px;
        display: none;
    }
  .search_tab > input {
    flex: 1 1 ;
    max-width: 120px;
    font-size: 12px;
    padding: 10px;
  } 
}