.options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.options > span {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
.options_dropdown > span > label {
    font-weight: 500;
    font-size: 12px;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 5px;
}
#options_dropdown {
    font-family: 'Roboto mono';
    padding: 12px;
    border-radius: 3px;
    background: transparent;
    outline: none;
    color: inherit;
    font-size: 12px;
}