.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px;
}
.user_header{
    width: 100%;
}
.user_main{
    width: 100%;
}
.user_footer {
    width: 100%;
    padding: 10px 0;
}