.modal{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 620px;
    padding: 10px;
}
.modal_header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-bottom: 10px;
}
@media screen and (max-width: 550px) {
.modal{
    padding: 5px;
}
}