.slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: inherit;
    position: relative;
    overflow: hidden;
    // position: relative;

    .sliders {
      display: flex;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: auto;
      max-height: inherit;
      overflow: hidden;

      img {
        width: 100%;
        max-width: 100%;
        display: block;
        position: relative;
        height: auto;
        object-fit: contain;
      }
    }
    


  //   .slider {
  //     width: 100%;
  //     position: relative;
  // }
  // .slider_slides {
  //     width: 100%;
  //     height: auto;
  //     display: flex;
  
      // img {
      //     width: 100%;
      //     max-width: 100%;
      //     display: block;
      //     height: 100%;
      //     object-fit: cover !important;
      // }
  // }
  .dots {
      display: flex;
      padding: 20px 0;
      justify-content: center;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -100%);

      .dot {
        border: none;
        width: 4px;
        height: 4px;
        background: #d4d4d4;
        border-radius: 50%;
        margin: 0 5px;
        padding: 3px;
        outline: none;
        cursor: pointer;
      }
      
      .dot:focus {
        outline: none;
      }
      
      .dot_active {
        background: #000;
        border: none;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        margin: 0 5px;
        padding: 3px;
        outline: none;
        cursor: pointer;
      }
    }
    
    
  .slider_counter {
      // width: fit-content;
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: black;
      border-radius: 20px;
      padding: 1px 10px;
      display: flex;
      align-items: center;
      font-family: 'Roboto';
      font-size: 10px;
      font-weight: 500;
      margin: 0;
      color: white;
  }

  .slider_placeholder {
    min-height: 350px;
    height: inherit;
    max-height: inherit;
    width: 100%;
  }
}
