.slider_container {
    width: 100%;
    display: flex;
    height: auto;
    max-height: inherit;
    position: relative;
    background: none;
    overflow: hidden;


    #slides {
      display: flex;
      width: 100%;
      height: auto;
      background-image: url('http://myvisitsrilanka.com/masterslider/blank.gif');
      background-position: center;
      background-color: white;
      background-repeat: no-repeat;
      max-height: inherit;

      img {
        width: 100%;
        max-width: 100%;
        display: block;
        height: auto;
        min-height: 350px;
      }
    }
    
  .dots {
      display: flex;
      padding: 20px 0;
      justify-content: center;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -100%);

      .dot {
        border: none;
        width: 4px;
        height: 4px;
        background: #d4d4d4;
        border-radius: 50%;
        margin: 0 5px;
        padding: 3px;
        outline: none;
        cursor: pointer;
      }
      
      .dot:focus {
        outline: none;
      }
      
      .dot_active {
        background: #000;
        border: none;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        margin: 0 5px;
        padding: 3px;
        outline: none;
        cursor: pointer;
      }
    }
    
    
  .slider_counter {
      // width: fit-content;
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: black;
      border-radius: 20px;
      padding: 1px 10px;
      display: flex;
      align-items: center;
      font-family: 'Roboto';
      font-size: 10px;
      font-weight: 500;
      margin: 0;
      color: white;
  }
}
